{{#unless inlineLabel}}{{#simple-label for=inputElementId isRequired=isRequired}}{{label}}{{/simple-label}}{{/unless}}
<div class={{fieldClassName}}>
  {{input-component inputComponentName
    additionalAttributeNames=additionalAttributeNames value=value
    elementId=inputElementId class=inputClassName}}
  {{#if inlineLabel}}{{#simple-label for=inputElementId isRequired=isRequired}}{{label}}{{/simple-label}}{{/if}}
  {{#if hasErrors}}
    <div class={{errorsClassName}}>{{errorMessages}}</div>
  {{/if}}
  {{#if hasHint}}
    <div class={{hintClassName}}>{{hint}}</div>
  {{/if}}
</div>
