{{#if hasLabel}}{{#simple-label for=inputElementId isRequired=isRequired}}{{label}}{{/simple-label}}{{/if}}
<div class={{fieldClassName}}>
  {{#if hasInlineLabel}}
    {{#simple-label for=inputElementId isRequired=isRequired}}
      {{input-component inputComponentName
        additionalAttributeNames=additionalAttributeNames modelValue=value
        inputElementId=inputElementId class=inputClassName placeholder=placeholder}}
      {{label}}
    {{/simple-label}}
  {{else}}
    {{input-component inputComponentName
      additionalAttributeNames=additionalAttributeNames modelValue=value
      inputElementId=inputElementId class=inputClassName placeholder=placeholder}}
  {{/if}}
  {{#if hasUnit}}
    <div class={{unitClassName}}>{{unit}}</div>
  {{/if}}
  {{#if hasHint}}
    <div class={{hintClassName}}>{{hint}}</div>
  {{/if}}
  {{#if hasErrors}}
    <div class={{errorsClassName}}>{{errorMessages}}</div>
  {{/if}}
</div>
