{{#if hasLabel}}{{#simple-label for=inputElementId isRequired=isRequired}}{{label}}{{/simple-label}}{{/if}}
<div class={{fieldClassName}}>
  {{#if hasInlineLabel}}
    {{#simple-label for=inputElementId isRequired=isRequired}}
      {{component inputComponentName
        additionalAttributes=additionalAttributes modelValue=value
        inputElementId=inputElementId class=inputClassName placeholder=placeholder
        name=inputName validations=validations required=isRequired autofocus=hasAutofocus}}
      <span class="simple-input-inline-label">{{label}}</span>
    {{/simple-label}}
  {{else}}
    {{component inputComponentName
      additionalAttributes=additionalAttributes modelValue=value
      inputElementId=inputElementId class=inputClassName placeholder=placeholder
      name=inputName validations=validations required=isRequired autofocus=hasAutofocus}}
  {{/if}}
  {{#if hasUnit}}
    <div class={{unitClassName}}>{{unit}}</div>
  {{/if}}
  {{#if hasHint}}
    <div class={{hintClassName}}>{{hint}}</div>
  {{/if}}
  {{#if hasErrors}}
    <ul class="{{errorsClassName}}-list">
      {{#each error as |errors|}}
        <li class="{{errorsClassName}}-item">
           <span class="{{errorsClassName}}" role="alert">{{error}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
