{{#if hasLabel}}
  <div class="simple-input-label">
    {{#simple-label for=inputElementId isRequired=isRequired}}{{label}}{{/simple-label}}
  </div>
{{/if}}
<div class={{fieldClassName}}>
  {{#if hasInlineLabel}}
    {{#simple-label for=inputElementId isRequired=isRequired}}
      {{component inputComponentName
        additionalAttributes=additionalAttributes modelValue=value
        inputElementId=inputElementId class=inputClassName placeholder=placeholder
        name=inputName validations=validations}}
      <span class="simple-input-inline-label">{{label}}</span>
    {{/simple-label}}
  {{else}}
    {{component inputComponentName
      additionalAttributes=additionalAttributes modelValue=value
      inputElementId=inputElementId class=inputClassName placeholder=placeholder
      name=inputName validations=validations}}
  {{/if}}
  {{#if hasUnit}}
    <div class={{unitClassName}}>{{unit}}</div>
  {{/if}}
  {{#if hasHint}}
    <div class={{hintClassName}}>{{hint}}</div>
  {{/if}}
  {{#if hasErrors}}
    <div class={{errorsClassName}}>{{errorMessages}}</div>
  {{/if}}
</div>
