<div
  {{did-insert this.registerWrapper}}
  ...attributes
>
  <Inputs::CollectionInput
    @config={{@config}}
    @getSelectedIndices={{this.getSelectedIndices}}
    as |base|
  >
    {{#each base.collection as |option|}}
      <Inputs::CheckboxOption
        @content={{option}}
        @selectedValue={{@config.value}}
        @key={{@config.key}}
        @disabled={{@config.disabled}}
        @required={{and @config.validations.required (not base.multiple)}}
        @inputName={{@config.name}}
        @inputType={{if base.multiple "checkbox" "radio"}}
        {{on "change" base.handleChange}}
      />
    {{/each}}
  </Inputs::CollectionInput>
</div>
