<div ...attributes>
  <label for={{this.inputElementId}}>
    <input
      checked={{this.isSelected}}
      type={{@inputType}}
      name={{@inputName}}
      id={{this.inputElementId}}
      value={{@content.value}}
      disabled={{@disabled}}
      required={{@required}}
    >
    {{@content.label}}
  </label>
</div>
