{{#let (and this.config.canValidate this.config.validations.errors) as |isInvalid|}}
  <div class="form-group">
    {{#if this.config.texts.label}}
      {{component this.labelComponent}}
    {{/if}}
    <div class="field">
      {{component
        this.inputComponent
        class=(concat "form-control" (if isInvalid " is-invalid"))
      }}
    </div>
    {{#if this.config.texts.hint}}
      <small class="form-text text-muted">{{this.config.texts.hint}}</small>
    {{/if}}
    {{#if isInvalid}}
      <div class="invalid-feedback" data-test-errors>
        {{#each this.config.validations.errors as |error i|~}}
          {{if i ", "}}{{error}}
        {{~/each}}
      </div>
    {{/if}}
  </div>
{{/let}}
