{{#let (and config.canValidate config.validations.errors) as |isInvalid|}}
  <div class="form-check">
    {{component
      inputComponent
      class=(concat "form-check-input" (if isInvalid " is-invalid"))
    }}
    {{component labelComponent class="form-check-label"}}
    {{#if config.texts.hint}}
      <small class="form-text text-muted">{{config.texts.hint}}</small>
    {{/if}}
    {{#if isInvalid}}
      <div class="invalid-feedback">
        {{#each config.validations.errors as |error i|~}}
          {{if i ", "}}{{error}}
        {{~/each}}
      </div>
    {{/if}}
  </div>
{{/let}}
