{{#let (and this.config.canValidate this.config.validations.errors) as |isInvalid|}}
  <div class="form-check">
    {{component
      this.inputComponent
      class=(concat "form-check-input" (if isInvalid " is-invalid"))
    }}
    {{component this.labelComponent class="form-check-label"}}
    {{#if this.config.texts.hint}}
      <small class="form-text text-muted">{{this.config.texts.hint}}</small>
    {{/if}}
    {{#if isInvalid}}
      <div class="invalid-feedback" data-test-errors>
        {{#each this.config.validations.errors as |error i|~}}
          {{if i ", "}}{{error}}
        {{~/each}}
      </div>
    {{/if}}
  </div>
{{/let}}
