<h2 id="title">Welcome to Ember.js</h2>

<h3>{{title}}</h3>

{{#form-builder for=this as |f|}}
  asdf
  {{title}}
  <br/>

  {{input-on f "title" as="string" testAttr="asdfasdf"}}
  {{currentProgrammerId}}
  {{input-on f "currentProgrammerId" as="collection" collection=programmers
    optionValuePath="content.id" optionLabelPath="content.firstName"}}
  <br/>
  {{currentProgrammer.id}}: {{currentProgrammer.firstName}}
  {{input-on f "currentProgrammer" as="checkboxes" collection=programmers
    optionValuePath="content" optionLabelPath="content.firstName"}}

  {{#each currentProgrammers as |programmer|}}{{programmer.firstName}}<br/>{{/each}}
  {{input-on f "currentProgrammers" as="checkboxes" collection=programmers
    optionValuePath="content" optionLabelPath="content.firstName" isMultiple=true}}

  {{submit-on f}}
{{/form-builder}}

{{outlet}}
