<h2 id="title">Welcome to Ember.js</h2>

<h3>{{title}}</h3>

{{#form-builder for=this as |f|}}
  asdf
  {{title}}
  <br>

  {{f.input "title" as="string" testAttr="asdfasdf"}}
  {{currentProgrammerId}}
  {{f.input "currentProgrammerId" as="collection" collection=programmers
    optionValuePath="content.id" optionLabelPath="content.firstName"}}
  <br>
  {{currentProgrammer.id}}: {{currentProgrammer.firstName}}
  {{f.input "currentProgrammer" as="checkboxes" collection=programmers
    optionValuePath="content" optionLabelPath="content.firstName"}}

  {{#each currentProgrammers as |programmer|}}{{programmer.firstName}}<br>{{/each}}
  {{f.input "currentProgrammers" as="checkboxes" collection=programmers
    optionValuePath="content" optionLabelPath="content.firstName"}}

  <br>
  {{currentDeferredProgrammerId}}
  {{f.input "currentDeferredProgrammerId" as="collection" collection=deferredProgrammers
    optionValuePath="content.id" optionLabelPath="content.firstName"}}

  {{f.submit}}
{{/form-builder}}

{{outlet}}
