<h2 id="title">Welcome to Ember.js</h2>

<h3>{{title}}</h3>

{{#simple-form for=controller as |f|}}
  asdf
  {{title}}
  <br/>
  {{currentProgrammerId}}
  {{input-on f "title" as="string" testAttr="asdfasdf"}}
  {{input-on f "currentProgrammerId" as="collection" collection=programmers
    optionValuePath="id" optionLabelPath="firstName"}}

  {{submit-on f}}
{{/simple-form}}

{{outlet}}
