<h2 id="title">Welcome to Ember.js</h2>

<h3>{{title}}</h3>

{{#simple-form for=controller as |f|}}
  asdf
  {{title}}
  <br/>
  {{currentProgrammer.id}}: {{currentProgrammer.firstName}}
  {{input-on f "title" as="string" testAttr="asdfasdf"}}
  {{input-on f "currentProgrammer" as="collection" collection=programmers
    optionValuePath="id" optionLabelPath="firstName"}}
  {{input-on f "currentProgrammer" as="checkboxes" collection=programmers
    optionValuePath="id" optionLabelPath="firstName"}}

  {{#each programmer in currentProgrammers}}{{programmer.firstName}}<br/>{{/each}}
  {{input-on f "currentProgrammers" as="checkboxes" collection=programmers
    optionValuePath="id" optionLabelPath="firstName" isMultiple=true}}

  {{submit-on f}}
{{/simple-form}}

{{outlet}}
