<label for={{inputElementId}}>
  <input checked={{isChecked}} type={{inputType}} name={{inputName}}
    id={{inputElementId}} value={{value}}
    disabled={{disabled}} required={{required}} >
  {{label}}
</label>
