<label for={{this.inputElementId}}>
  <input checked={{this.isChecked}} type={{this.inputType}} name={{this.inputName}}
    id={{this.inputElementId}} value={{this.value}}
    disabled={{this.disabled}} required={{this.required}} >
  {{this.label}}
</label>
